goodperson-dto/src/main/resources/xsd/goodperson-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mysample/goodperson-schema">
 <element name="person">
    <complexType>
      <sequence>
        <element type="string" name="name"/>
        <element type="short" name="graduationYear"/>
        <element type="short" name="salary"/>
        <element type="string" name="type"/>
      </sequence>
    </complexType>
  </element>
</schema>